<ion-header>
  <ion-toolbar>
    <ion-title>
      AGENDA DE CONTATOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Meus Manos:
    </ion-list-header>
    <ion-item *ngFor="let contato of contatos">
      <ion-label>{{contato.nome}}</ion-label>
      <ion-label>{{contato.telefone}}</ion-label>
      <ion-label>{{contato.email}}</ion-label>
      <ion-label>{{contato.genero}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical ="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irParaCadastrar()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
